
.appearance{
  display:grid;
  height:36px;
  align-items:center;
  grid-template-columns:75px 1fr 45px;
}

.bg_preview{
  border-radius: 10px; 
  background-color: rgb(0, 0, 0);
  margin: 1%;
  padding-bottom: 2px;
   max-width: 100vw; /* Μέγιστο πλάτος ίσο με το πλάτος της οθόνης */
   overflow-x: auto; /* Χρήση οριζόντιου scroll όταν είναι απαραίτητο */
}


.terminal{
  background-color: rgb(0, 0, 0);
}

.terminal1{
  background-color: rgb(51, 50, 59);
}

command-line
.code_editor::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px rgba(255, 255, 255, 0); 
border-radius: 5px;}
.code_editor::-webkit-scrollbar-thumb:hover {
background: rgb(0, 0, 0);}
.code_editor::-webkit-scrollbar-thumb {
background: rgba(255, 255, 245, 0.13);
} 

.space{
  margin-left: 10px;
  display:flex;
  gap:10px}

.buttons1{
  width:12px;
  height:12px;
  border-radius:6px;
  background-color:rgb(82, 3, 3)
}

.buttons2{
  width:12px;
  height:12px;
  border-radius:6px;
  background-color:rgb(8, 3, 82)
}


.buttons3{
  width:12px;
  height:12px;
  border-radius:6px;
  background-color:rgb(82, 74, 3)
}
.name_input{
  height:16px;color:var(--frame-title-placeholder-color);
  font-family:Inter,sans-serif;
  font-size:12px;
  font-weight:500;
  letter-spacing:.32px;
  line-height:12px;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}
