/*  margin-left: 85px; */
@media only screen and (min-width: 720px) {
    .container {  
      height: 100%;
      display: grid;
      grid-template-rows: 80px;
      grid-template-columns: 200px;
      grid-template-areas:
        "Header Header"
        "Menu Text" ;} 
    .Text { 
          grid-area: Text;  
          color: white;
          margin-top: 10px;
          margin-bottom: 100px;
          margin-left: 30px;
          margin-right: 20px;
      }    
      .Menu { 
        position: fixed;
        grid-area: Menu; 
        background-color: rgb(0, 0, 0);
        height: 100%;
        margin-top: 90px;
        z-index: 100;
        width: 220px;
    }

    div.layout{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
    }
}


/* Στυλ για κινητές συσκευές */
@media only screen and (max-width: 720px) {
  .container {  
    display: grid;
    grid-template-rows: 90px 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    "Header"
    "Text";}

    .Text { 
      grid-area: Text;  
      color: white;
      margin-top: 10px;
      margin-bottom: 100px;
      margin-left: 15px;
      margin-right: 15px;
  }
     
  div.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    }
}

.container-notmenu {  
    display: grid;
    grid-template-rows: 90px 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    "Header"
    "Text-notmenu";}


.Text-notmenu { 
       grid-area: Text-notmenu;  
      color: white;
      margin-top: 10px;
      margin-bottom: 100px;
      margin-left: 15px;
      margin-right: 15px;
    }
.Header { 
  position: fixed;
  width: 100%;
  grid-area: Header; 
  background-color: rgb(0, 0, 0);
  z-index: 100;
}
