<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="facebook-domain-verification" content="0xouz6vdte9op8jj8l7w0wzvpzehkq" />
    <meta charset="UTF-8">
    <title>GrCode Club</title>
    <script src="https://grcodeclub.github.io/js/main_page/main-header.js"></script>
    <script src="https://grcodeclub.gr/js/cookies.js"></script>
    <script src="https://grcodeclub.github.io/js/main_page/section.js"></script>
    <link rel="stylesheet" href="https://grcodeclub.github.io/css/card.css">
    <link rel="stylesheet" href="./card.css">

    <link rel="stylesheet" href="https://grcodeclub.github.io/css/styles.css">
    <link rel="stylesheet" href="https://grcodeclub.github.io/css/desktop.css">
    <link rel="stylesheet" href="https://grcodeclub.github.io/css/mobile.css">
    <link rel='icon' type='image/png' href='https://grcodeclub.github.io/files-page/logo/favicon.ico'>
    <link rel="stylesheet" href="https://grcodeclub.github.io/css/social.css">
    <link rel="stylesheet" href="https://grcodeclub.github.io/css/bg.css">
    <link rel="stylesheet" href="https://grcodeclub.github.io/web/css/grcodeclub/scrollbars.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
                #cookie-banner {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    z-index:1000;
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
      display: none;
    }
/* Custom Scrollbars */
    
::-webkit-scrollbar {
    width: 10px; /* Πλάτος του scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #333; /* Σκούρο φόντο για το track */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7); /* Απαλότερη σκιά για πιο κομψό αποτέλεσμα */
    border-radius: 10px;
}
     
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); /* Απαλό γκρι για να φαίνεται καθαρά */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Προσθήκη ομαλής μετάβασης */
}
 
::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 93, 93); /* Πιο σκούρο γκρι στο hover */
}

/* ΤΕΛΟΣ Custom Scrollbars */
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMLRVK48"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


       <div id="cookie-banner" style="display: none;">
    <p>Χρησιμοποιούμε cookies για να βελτιώσουμε την εμπειρία σας στην ιστοσελίδα μας. Επιλέξτε αν θέλετε να αποδεχτείτε ή να απορρίψετε όλα τα cookies:</p>
    <label><input type="checkbox" id="cookies-ga4" checked disabled>Ανάλυση και Παρακολούθηση</label>
          <label><input type="checkbox" id="cookies-social" checked>Social Media</label>
    <br>
    <button id="accept-cookies">Αποδοχή</button>
    <button id="reject-cookies">Απόρριψη</button>
</div>


    <header id="main-header">
        <nav>
            <a href="https://www.grcodeclub.gr/"><img style="display: none;" id="logo" src="./files-page/logo/logo-head.png" width="20%" class="hide"></a>
            <div class="show_desktop">
                <ul style="font-size: 20px;">
                    <li style=" flex-wrap: nowrap; white-space: nowrap;"><a href="./index.html">Αρχική Σελίδα</a></li>
                    <li><a href="#info">Πληροφορίες</a></li>
                    <li><a href="#menu">Περιεχόμενα</a></li>
                    <li><a href="#contact">Επικοινωνία</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="hero" id="home">
        <div class="show_mobile" style="padding-top: 10vh;"></div>
        <img class="logo" src="https://grcodeclub.gr/files-page/logo/white.png">
        <h1 class="animated-text">GrCode Club</h1>
    </section>
    
    <div id="info" style="height:50px;"></div>
    <section class="box slider show_desktop" style=" max-height: 450px; background-color: rgba(0, 0, 0, 0.425);">
        <button class="slide-prev" aria-label="Previous Slide">&#10094;</button>
        <div class="slide-container">
            <div class="slides">
                <div class="card" >
                    <div class="data-card">
                        <h2 style="text-align: center;">Τι είναι το GrCode Club</h2>
                        <p style="color: white; margin-left: 3%; text-align: center; margin-right: 3%;">
                            Στο GrCode Club, η αποστολή μας είναι να σας παρέχουμε πολύτιμες πληροφορίες και πρακτικές γνώσεις στον τομέα της πληροφορικής και 
                            του προγραμματισμού. Εδώ θα βρείτε χρήσιμα εργαλεία και πόρους που θα σας βοηθήσουν να εξελίξετε τις ικανότητές σας και να 
                            προετοιμαστείτε για τις προκλήσεις της σύγχρονης τεχνολογίας. 
                            <br>Εξερευνήστε τη συλλογή μας και γίνετε μέλος της κοινότητάς μας!
                        </p>
                        <h2 style="text-align: center;">Η ομάδα ➠</h2> 
                    </div>
                </div>
            </div>
        </div>
        <button class="slide-next" aria-label="Next Slide">&#10095;</button>
        <script src="./js/card.js"></script>
    </section>

    <section class="box animate-on-scroll" id="menu">
        <h2>Περιεχόμενα</h2>
        <div class="box-container">
            <a href="https://grcodeclub.gr/programming/" class="service" style="text-decoration: none;">
                <h3><span class="fa-solid fa-code" aria-hidden="true"></span> Προγραμματισμός</h3>
                <p>Ο προγραμματισμός επιτρέπει στους προγραμματιστές να δημιουργούν λογισμικό, εφαρμογές, ιστοσελίδες και πολλά άλλα. </p>
            </a>
            <a href="https://grcodeclub.gr/linux/" class="service" style="text-decoration: none;">
                <h3><span class="fa-brands fa-linux" aria-hidden="true"></span> Linux</h3>
                <p>Το Linux είναι ένα λειτουργικό σύστημα όπως είναι και τα Winodws.</p>
            </a>
            <a href="https://grcodeclub.gr/windows/" class="service" style="text-decoration: none;">
                <h3><span class="fa-brands fa-windows" aria-hidden="true"></span> Microsoft Windows</h3>
                <p>Τα Windows είναι το λειτουργικό σύστημα της Microsoft είναι ο τρόπος επικοινωνίας με τον υπολογιστή μας .</p>
            </a>
            <a href="https://grcodeclub.gr/network/" class="service" style="text-decoration: none;">
                <h3><span class="fa-solid fa-network-wired" aria-hidden="true"></span>  Δίκτυα Υπολογιστών</h3>
                <p>Τα δίκτυα υπολογιστών αναφέρονται στη σύνδεση δύο ή περισσότερων υπολογιστών και συσκευών μεταξύ τους, έτσι ώστε να μπορούν να ανταλλάσσουν δεδομένα και πληροφορίες.</p>
            </a>
            <a href="https://grcodeclub.gr/cybersecurity/" class="service" style="text-decoration: none;">
                <h3><span class="fa-solid fa-shield" aria-hidden="true"></span> Κυβερνοασφάλεια</h3>
                <p>Η κυβερνοασφάλεια, γνωστή και ως Cybersecurity, αναφέρεται στο σύνολο των πρακτικών, των τεχνικών και των μέτρων που αναλαμβάνονται για την προστασία των πληροφοριακών συστημάτων, των δεδομένων, των δικτύων και των ψηφιακών υποδομών από κινδύνους, επιθέσεις, ανεπιθύμητες εισβολές και κακόβουλες ενέργειες στον κυβερνοχώρο.</p>
            </a>
            <a href="https://grcodeclub.gr/more/post" class="service" style="text-decoration: none;">
                <h3><span class="fa-solid fa-pencil-alt" aria-hidden="true"></span> Δημοσιεύσεις</h3>
            </a>
        </div>
        <a href="./fullmenu" style="text-decoration: none;"><h1 style="color: white;"><u>Προβολή πλήρες menu</u></h1></a>
    </section>
    <section id="contact" class="box desktop_size">
       <h2>Επικοινωνήστε μαζί μας</h2>
        <p  style="color: white; text-align: center; margin: 20px;">
            Έχετε κάποια ερώτηση ή θέλετε να μοιραστείτε τις ιδέες σας;<br> Μην διστάσετε να επικοινωνήσετε μαζί μας μέσω των Social Media. 
            <br>
            Είμαστε πάντα χαρούμενοι να ακούσουμε από την κοινότητά μας και να παρέχουμε την υποστήριξή μας.
        </p>
        <div >
            <a href="mailto:grcodeclub@gmail.com" class="service" style="text-decoration: none;"> <i class="fa fa-envelope" style="font-size: 24px;"></i> 	&nbsp;grcodeclub@gmailcom</a>
        </div>
        <br>
        <h1><u>My Social</u></h1>
        <section class="ss-icon">
            <a class="sociallink" href="https://www.facebook.com/grcodeclub"><article><span class="fa-brands  fa-facebook" aria-hidden="true"></span></article></a>
            <a class="sociallink" href="https://www.instagram.com/grcode.club" target="_blank"><article><span class="fa-brands fa-instagram" aria-hidden="true"></span></article></a>
            <a class="sociallink" href="https://github.com/GrCodeClub" target="_blank"><article><span class="fa-brands fa-github" aria-hidden="true"></span></article></a>
            <a class="sociallink" href="https://www.youtube.com/@grcodeclub" target="_blank"><article><span class="fa-brands fa-youtube" aria-hidden="true"></span></article></a>
            <a class="sociallink" href="https://x.com/grcodeclub/"><article><span class="fa-brands fa-x" aria-hidden="true"></span></article></a>
          </section>
    </section>
<footer>
        <div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
         </div>
    </footer>
</body>
</html>
