/* Custom Scrollbars */
    
::-webkit-scrollbar {
    width: 10px; /* Πλάτος του scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #333; /* Σκούρο φόντο για το track */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7); /* Απαλότερη σκιά για πιο κομψό αποτέλεσμα */
    border-radius: 10px;
}
     
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); /* Απαλό γκρι για να φαίνεται καθαρά */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Προσθήκη ομαλής μετάβασης */
}
 
::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 93, 93); /* Πιο σκούρο γκρι στο hover */
}

/* ΤΕΛΟΣ Custom Scrollbars */
