.link_here::before     {content: "游댕";}
.link_here             {text-decoration: none;}
h1.back_page           {display: inline-block;}

@media (pointer: coarse) {
    a:active {
        background-color: transparent; /* 품픥풤풫픠풧풢 픣 풮풭풧 픦픠픭풮풤 픥픫풯픣픤 */
        color: inherit; /* 풋풤풯풤픥풠픠풧풫 픣 픦픠픭풮풤 풬풧풫풮풠풯픤 */
        outline: none; /* 품픥풤풫픠풧풢 픣 풮풭풧 풧픠풢풥픠풤풮풮풤 */
    }
}

div.text_bg {
    background-color: rgba(20, 20, 20, 0.85); /* 풖풬픬픠 풥풬픠풫 풮풧 풧풭풤픥픠풫풟 풦풫풤픥풟풯풧풫풤 */
    color: #e0e0e0; /* 품풤풭픫 풥풬픠풫 풥풫풤 픣 풬풧풢풮풧풯 */
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 100px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7); /* 풖풬풫풟 풥풫풤 풧픥풠 풤풯픬픧픨픢풩픡 */
}

div.cmd {
    background-color: rgb(10, 10, 60); /* 풖풬픬픠 풮풭풧-풮풤픬픠 */
    color: white;
    border-radius: 20px;
    padding: 10px;
}

h1.title {
    text-align: center;
    background-color: black;
    color: #f0f0f0; /* 품풯풫픦픣픫 풥풬픠풫 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

.highlight {
    padding-left: 20px;
    background-color: #1c1c1c; /* 풖풬픬픠 풮풤픬픠-풥풬픠풫 */
    color: #dcdcdc; /* 먩좙 풤풤풭풡 풥픠풤풮풮풤픣픢풧풫픠풟 */
}

code {
    font-size: 15px;
    color: #e0e0e0; /* 품풤풭픫 풥풬픠풫 풥풫풤 픣 풬풧풢풮풧풯 픣픤 풬픭풦풫풬풤 */
}

a.link {
    padding: 4px;
    background-color: #1a1a1a; /* 풖풬픬픠 풥풬픠풫 */
    color: #f0f0f0; /* 품풯풫픦픣픫 풥풬픠풫 */
    min-width: 80px;
    margin: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link span {
    font-size: 18px;
}

a.link:hover {
    padding: 4px;
    color: #1a1a1a; /* 품풯픣풢풪풧픣 픦픠픭풮풤 픢픣 hover */
    background-color: #ffffff;
    min-width: 80px;
    margin: auto;
    border-radius: 5px;
}

h2.title {
    text-align: center;
    background-color: #262626; /* 풖풬픬픠 픥픫풯픣 */
    color: #e0e0e0; /* 품풤풭픫 풥풬픠풫 */
    padding: 10px;
}

section.tmp {
    background-color: #1a1a1a; /* 풖풬픬픠 픥픫풯픣 */
    margin-left: 10%;
    margin-right: 10%;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: #f0f0f0; /* 품풯풫픦픣픫 풥풬픠풫 풥풫풤 픢픤풯풦풠픢풮픤픡 */
}

p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #dcdcdc; /* 품풤풭픫 풥풬픠풫 풥풫풤 픣 풬풧풢풮풧풯 */
}

p.cmd {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
