.basic{
  background-image: url("https://grcodeclub.gr/files-page/background/main.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
  user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}

.edit{
  background-image: url("https://grcodeclub.gr/files-page/background/graphic.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
  user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}


.android{
  background-image: url("https://grcodeclub.gr/files-page/background/android.png");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}

.windows{
  background-image: url("https://grcodeclub.gr/files-page/background/windows.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}

.linux{
  background-image: url("https://grcodeclub.gr/files-page/background/linux.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}

.network{
  background-image: url("https://grcodeclub.gr/files-page/background/network.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}

.system{
  background-image: url("https://grcodeclub.gr/files-page/background/computer.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}

.website{
  background-image: url("https://grcodeclub.gr/files-page/background/website.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}


.programming{
  background-image: url("https://grcodeclub.gr/files-page/background/coding.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}



.cybersecurity {
  background-image: url("https://grcodeclub.gr/files-page/background/cybersecurity.jpg");
  margin: 0;
  font-family: "Arial";
  background-size: cover;
  background-attachment: fixed; /* Κάνει την εικόνα σταθερή */
  background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της εικόνας */
   user-select: none; /*Αποτροπή Επιλογής Κειμένου*/
}
