div.search{
 background-color: #000000d5; 
  text-align: center; }

img.logo_menu{
  width: 30px;
  height: 30px; }

img.logo_back{
  width: 60px;
  height: 60px;
  padding-top: 10px; }

   /*Text Input*/
    
    .form__field {
      font-family: inherit;
      border: 0;
      outline: 0;
      font-size: 1.3rem;
      color: rgb(255, 255, 255);
      padding: 7px 0;
      background: transparent;
      width:250px;
      text-align: center;
    }
    .form__field::placeholder {color: white;}
    
    
/* Custom Scrollbars   */
    
::-webkit-scrollbar {width: 10px;} /* width */

/* Track */
::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px rgb(4, 4, 48); 
      border-radius: 10px; }
     
/* Handle */
::-webkit-scrollbar-thumb {
      background: rgb(253, 253, 253); 
      border-radius: 5px;
    }
 
::-webkit-scrollbar-thumb:hover {background: rgb(12, 12, 1);} 
  
/* ΤΕΛΟΣ Custom Scrollbars   */

@media only screen and (min-width: 720px) {
  .show_mobile  {display: none;}
  .show_desktop   {display: block;}
  .sidebarMenuInner{max-height: 100%; }
}


/* Στυλ για κινητές συσκευές */

@media only screen and (max-width: 720px) {
  .show_mobile {display: block;}
  .show_desktop {display: none;}

  /*Menu Start*/

  #sidebarMenu {
      overflow: auto;
      height: 100%;
      position: fixed;
      left: 0;
      width: 250px;
      text-align: center;
      height: 100%;
      /*Margin Top*/
      margin-top: 86px;
      transform: translateX(-250px);
      transition: transform 250ms ease-in-out;
      z-index: 1;
      background-color: rgb(0, 0, 0)   /*Background Menu Deskpot*/
    }
  
  /*Button Open Menu*/
  .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      z-index: 99;
      top: 22px;
      left: 15px;
      width: 42px;
      position: fixed;
      z-index: 100;
  }
  .spinner {
      height: 3px;
      width: 100%;
      background-color: #ffffff;
  }

  .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
  }
  .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }

  input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0);}
  
  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;}

  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;}

  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
  }
  /*Menu end*/
} 

/*Menu ΣΤΟΙΧΕΙΑ*/
.sidebarMenuInner li a{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.sidebarMenuInner li{
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
