.social .social-item {list-style:none;}

.social {
    position: fixed;
    display:flex;
    bottom:  0;
    padding: 0;
    z-index: 1000;
    right: 0;
    background-color: black;
    color: white;
}
.social-item{padding-top: px;}
.social-item a {
    display:block;
    position:relative;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:34px;
    text-align:center;
    text-decoration:none;
    color:#ffffff;
    transition:.5s;
}
 .social-item a span {
  position:absolute;
  transition: transform .5s;
}
 .social-item a span:nth-child(1),
 .social-item a span:nth-child(3){
  width:100%;
  background:white;
}
 .social-item a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
 .social-item a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.social-item a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.social-item a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.social-item a span:nth-child(2),
.social-item a span:nth-child(4){
  width:3px;
  height:100%;
  background:white;
}
 .social-item a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.social-item a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
 .social-item a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
 .social-item a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {color: #3b5998;}
.twitter:hover {color: #1da1f2;}
.instagram:hover {color: #c32aa3;}
.linkedin:hover {color: blue;}
.youtube:hover {color: #ee5757 }
.github:hover {color: rgb(255, 255, 255);}
