table {
  margin-left:auto; 
  margin-right:auto;
}


.noBorder{
  text-align: left;
  background-color: white;
  border:none;
}

caption{
  background-color: blue;
  color: white;
  font-size: 35px;
  }

#table {
    width: 100%;
    border-collapse: collapse; /* Ενοποίηση περιγραμμάτων κελιών */
}

#table td {padding: 10px;}


@media only print {

  table.style2 {
    width: 100%; /* Ο πίνακας θα καταλαμβάνει το 100% του διαθέσιμου πλάτους του container */
    max-width: 100%; /* Εξασφαλίζει ότι το πλάτος του πίνακα δεν θα υπερβεί το πλάτος του container */
    border-collapse: collapse; /* Ενοποίηση των περιγραμμάτων των κελιών για πιο καθαρή εκτύπωση */
  }

  /* Προαιρετικά: Ρύθμιση της απόστασης των κελιών για εκτύπωση */
  table.style2 td {
    padding: 8px; /* Μείωση του padding για καλύτερη προσαρμογή στην εκτύπωση */
  }

