table {
  margin-left:auto; 
  margin-right:auto;
}


.noBorder{
  text-align: left;
  background-color: white;
  border:none;
}

caption{
  background-color: blue;
  color: white;
  font-size: 35px;
  }

#table {
    width: 100%;
    border-collapse: collapse; /* Ενοποίηση περιγραμμάτων κελιών */
}

#table td {padding: 10px;}



  table.style2 {
  border-spacing: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 20px;
  max-width: 100%;
  overflow-x: auto;
  /* display: block; */
      table-layout: fixed; /* Εξασφαλίζει ότι οι στήλες δεν ξεφεύγουν από το πλάτος του πίνακα */

  }


  /* Προαιρετικά: Ρύθμιση της απόστασης των κελιών για εκτύπωση */
  table.style2 td {
    padding: 8px; /* Μείωση του padding για καλύτερη προσαρμογή στην εκτύπωση */
      overflow-wrap: break-word; /* Σπάσιμο μεγάλων λέξεων */

  }


