table {
  margin-left:auto; 
  margin-right:auto;
}


.noBorder{
  text-align: left;
  background-color: white;
  border:none;
}

caption{
  background-color: blue;
  color: white;
  font-size: 35px;
  }

#search_table_page {
    width: 100%;
    border-collapse: collapse; /* Ενοποίηση περιγραμμάτων κελιών */
   padding: 8px; /* Μείωση του padding για καλύτερη προσαρμογή στην εκτύπωση */
      overflow-wrap: break-word; /* Σπάσιμο μεγάλων λέξεων */
}

#search_table_page td {
  padding: 10px;
  padding: 8px; /* Μείωση του padding για καλύτερη προσαρμογή στην εκτύπωση */
}





@media only screen and (max-width: 720px) {
    table.style2 {
      border-spacing: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.418);
      border-radius: 20px;
      max-width: 100%;
      overflow-x: auto;
      /* display: block; */
      table-layout: fixed; /* Εξασφαλίζει ότι οι στήλες δεν ξεφεύγουν από το πλάτος του πίνακα */

  }

@media only screen and (min-width: 720px) {
    #search_table_page {
  border-spacing: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 20px;
  width: 100%;
  overflow-x: auto;
  /* display: block; */

  }




