table {
  margin-left:auto; 
  margin-right:auto;
  overflow-x: auto;
}


.noBorder{
  text-align: left;
  background-color: white;
  border:none;
}

caption{
  background-color: blue;
  color: white;
  font-size: 35px;
  }

  
/* Style 2 */

table.style2 {
border-spacing: 10px;
color: white;
background-color: rgba(0, 0, 0, 0.418);
border-radius: 20px;
width: 100%;
}

tr.style2:hover {
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
}

#table {
    width: 100%;
    border-collapse: collapse; /* Ενοποίηση περιγραμμάτων κελιών */
}

#table td {padding: 10px;}
