.button-6 {
  padding: 0.6em 2em;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.button-6:before {
  content: "";
  background: linear-gradient(
    45deg,
    #b799fc,
    #e4d33b,
    #738f25,
    #8f2525,
    #23fdf2,
    #25768f,
    #2e8f25,
    #258f5a
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 300%;
  z-index: -1;
  -webkit-filter: blur(6px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glow 20s  cubic-bezier(1, 1, 1, 1);
  transition: opacity 0.3s ease-in-out;
}

@keyframes glow {
  0% {background-position: 0 0; }
  50% {background-position: 200% 0;}
  100% {background-position: 0 0;}
}

.button-6:after {
  z-index: -1;
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
